@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald:wght@200&display=swap');

.oswald{
    font-family: Oswald;
}
.courgette{
    font-family: Courgette;
}
body{
    font-family: Oswald;
    font-size: 20px;
}
.navbar {
    border-bottom: solid 2px white;
    padding-left: 10px;
}
.top-section {
    position: relative;
    background-image: url("img/header.jpg");
    background-position: center;
    height: 500px;
}
.top-section-team{
    position: relative;
    background-image: url("img/team/team.jpg");
    background-position: center;
    height: 500px;
}
.top-section-paella {
    position: relative;
    background-image: url("img/recipes/paella/paella-header.jpg");
    background-position: center;
    height: 500px;
}
.top-section-post {
    position: relative;
    background-image: url("img/articles/suzette/suzette-header.jpg");
    background-position: center;
    height: 500px;
}
.filter {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
}
.header-content {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header-content img {
    width: 50px;
}

/* Accueil */

.article img{
    width:  180px;
}
.article input, .recherche input{
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.article button, .recherche button  {
    color: black;
    width: 100%;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid black;
}
.select:hover{
    border: 1px solid lightgray;
}
.select a{
    text-decoration: none;
}
.nav-link{
    color: gray;
}
.nav-link:hover{
    color: white;
}
.newsletter input {
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border-color: white;
}
.newsletter button {
    color: white;
    width: 100%;
    background-color: black;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid white;
}
@media screen and (max-width: 992px) {
    .recherche, .news {
        display: none;
    }
}
@media screen and (min-width: 576px) {
    .article img {
        width: 100%;
        margin-bottom: 10px;
    }
    .ingre {
        flex-wrap: nowrap;
    }
    .recipe img {
        width: 170px;
    }
}
@media screen and (max-width: 576px) {
    .article img {
        width: 100%;
        margin-bottom: 10px;
    }
    .ingre {
       flex-wrap: nowrap;
    }
    .recipe img {
        width: 170px;
    }
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
}
/* Recipe */
.recipe img{
    width:  400px;
}
.taille{
    width: 200px;
    padding:5px;
    text-align: center;
    background-color: lightgray;
}
.ingredient{
    background-color: gray;
    width:max-content;
    border-radius: 20px;
    padding:4px 16px;
    margin-left: 2px;
    color:white;
    height: 40px;
}
/* Team */
.team img{
    width:  140px;
    border-radius: 100px;
}
/* Team-member */
.team-member img{
    width:  220px;
    border-radius: 100px;
}
/* post */
.maj {
    font-size: 70px;
}
.post-auteur {
    margin: 50px;
    padding: 50px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.auteur, .formulaire {
    width: 60%;
    margin: auto;
}
.post-auteur img {
    width: 200px;
}
.avis{
    margin: 40px auto;
    width: 80%;
}
.avis1 img {
    width: 100px;
}
.reponse {
    margin-left: 115px;
}
.reponse img {
    opacity: 0.7;
}
@media screen and (max-width: 576px) {
    .post-auteur {
        margin: 50px 0;
        padding: 50px 0;
    }
    .auteur {
        width: 100%;
        align-items: center;
    }
    .post-auteur img{
        height: 200px;
    }
    .header-content h1 {
        text-align: center;
    }
}
i{
    margin-right: 20px;
}